Repository rstudio/bookdown, pull requests merged in 2021-07, with the labels that each got.

#1193 indented text should be part of search data for fuse.js in bs4_book
  DESCRIPTION
  NEWS.md
  R/bs4_book.R
Labels: bs4_book :hiking_boot:

#1192 bs4_book: Copy button uses an icon instead of text
  NEWS.md
  inst/resources/bs4_book/bs4_book.css
  inst/resources/bs4_book/bs4_book.js
Labels: bs4_book :hiking_boot:

#1197 only apply button to source code block
  NEWS.md
  inst/resources/bs4_book/bs4_book.js
Labels: bs4_book :hiking_boot:

#1187 bs4_book: no scroll on x overflow and correct copy btn placement
  DESCRIPTION
  NEWS.md
  inst/resources/bs4_book/bs4_book.css
  inst/resources/bs4_book/bs4_book.js
Labels: bs4_book :hiking_boot:

#1200 Marked result of gsub as UTF-8 encoded
  R/bs4_book.R
Labels: bs4_book :hiking_boot:

#1035 add 404 page for bs4_book and Gitbook
  DESCRIPTION
  NEWS.md
  R/bs4_book.R
  R/html.R
  tests/testthat/test-bs4_book.R
  tests/testthat/test-html.R
Labels: bs4_book :hiking_boot:

#1185 Add split_bib to bs4_book
  DESCRIPTION
  NEWS.md
  R/bs4_book.R
  man/bs4_book.Rd
Labels: bs4_book :hiking_boot:, next

#1201 Project template with conditional content for gitbook vs bs4_book
  DESCRIPTION
  NAMESPACE
  NEWS.md
  R/bs4_book.R
  R/skeleton.R
  R/utils.R
  _pkgdown.yml
  inst/rstudio/templates/project/resources/01-intro.Rmd
  inst/rstudio/templates/project/resources/02-literature.Rmd
  inst/rstudio/templates/project/resources/03-method.Rmd
  inst/rstudio/templates/project/resources/04-application.Rmd
  inst/rstudio/templates/project/resources/05-summary.Rmd
  inst/rstudio/templates/project/resources/README.md
  inst/rstudio/templates/project/resources/bs4_book/_bookdown.yml
  inst/rstudio/templates/project/resources/bs4_book/_common.R
  inst/rstudio/templates/project/resources/bs4_book/_output.yml
  inst/rstudio/templates/project/resources/bs4_book/index.yml
  inst/rstudio/templates/project/resources/common/01-intro.Rmd
  inst/rstudio/templates/project/resources/common/02-cross-refs.Rmd
  inst/rstudio/templates/project/resources/common/03-parts.Rmd
  inst/rstudio/templates/project/resources/common/04-citations.Rmd
  inst/rstudio/templates/project/resources/common/05-blocks.Rmd
  inst/rstudio/templates/project/resources/common/06-share.Rmd
  inst/rstudio/templates/project/resources/common/07-references.Rmd
  inst/rstudio/templates/project/resources/common/README.md
  inst/rstudio/templates/project/resources/common/_bookdown.yml
  inst/rstudio/templates/project/resources/common/_output.yml
  inst/rstudio/templates/project/resources/common/book.bib
  inst/rstudio/templates/project/resources/common/index.Rmd
  inst/rstudio/templates/project/resources/common/preamble.tex
  inst/rstudio/templates/project/resources/common/style.css
  inst/rstudio/templates/project/resources/gitbook/_output.yml
  inst/rstudio/templates/project/resources/gitbook/index.yml
  inst/rstudio/templates/project/resources/index.Rmd
  inst/rstudio/templates/project/skeleton.dcf
  man/bs4_book.Rd
  man/create_book.Rd
  tests/testit/test-utils.R
  tests/testthat/test-skeleton.R
Labels: bs4_book :hiking_boot:

#693 Updated Jquery to 3.3.1
  DESCRIPTION
  NEWS.md
  R/addins.R
  inst/resources/AUTHORS
  inst/resources/gitbook/js/app.js
  inst/resources/jquery/jquery.min.js
Labels: next
